<h2>
    Hola {{ name }}!
</h2>
<p>
    Gracias Por Registrarte En Nuestra Pagina!
</p>
<p>
    Tu Codigo Para Confirmar Tu Email Es: {{ code }}
</p>

<p>
    Si Nunca Te Registraste En: https://roalcases.com. Ignora Este Email
</p>